[submodule "external/osmdroid"]
	path = external/osmdroid
	url = https://github.com/osmdroid/osmdroid.git
[submodule "external/showcaseview"]
	path = external/showcaseview
	url = https://github.com/amlcurran/ShowcaseView.git
